<!DOCTYPE html>
<html>

  <head>
    <title>Robots for Jobs</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <h1> Welcome to the Robot Job Site </h1>
    <ul class="container">
      {{#userList}}
        <li class="profile-section">
          <h1 class="robot-name">{{robotName}}</h1>
          <img src={{robotImage}} class ="robot-avatar">
          <span class="robot-details">{{robotJob}}</span>
          <span class="robot-details">{{robotCompany}}</span>
        </li>
      {{/userList}}
    </ul>
    <script src="main.js"></script>
  </body>

</html>
