<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1> Welcome to Robots Page, Homie. </h1>

      <h2>
        <a href="/jobless"> Click here for jobless robots. </a>
      </h2>

      <h2>
        <a href="/employed"> Click here for employed robots. </a>
      </h2>

  </body>
</html>
