<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="styles.css">
      <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  </head>
  <body class="results-body">
    <h1 class="index" id="main-title"> Robots free to hire </h1>
      <ul>
        {{#joblessUsers}}
          <li class="roster-list">
              <img src="{{avatar}}" class="list-content"><br>
              <span class="list-content">{{username}}</span><br>
              <span class="list-content">{{name}}</span><br>
              <span class="list-content">{{email}}</span>
          </li>
        {{/joblessUsers}}
      </ul>
  </body>
</html>
